body {
    font-family: 'Happy Monkey', cursive;
    color: #ffffff;
    background: linear-gradient(lightskyblue, #EFB0C9);
}

h1, h2, h3, h4{

    text-shadow: 0px 0px 2px black;

}

#pfp {
    width: 200px;
    border: 7px solid #EFB0C9;
    border-radius: 50%;
}

#bdy-age {
    background: #EFB0C9;
    padding: 5px 12px;
    border-radius: 10px;
    margin-top: 25px;
}

#bdy-date {
    background: #EFB0C9;
    padding: 5px 12px;
    border-radius: 10px;
    margin-top: 10px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gift-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.class-happy {
    margin-bottom: 15px;
}

.class-hover {

    margin-top: 0px;
    margin-bottom: 15px;
}

.gift-cover {
    width: 400px;
    height: 400px;
    border: 7px solid white;
    border-radius: 10px;
    background-image: url("gift-cover.jpg");
    background-size: cover;
    margin-bottom: 10px;
}


#gif-happy:hover{
    background-image: url("happy.gif");
    border: 7px solid #EFB0C9;
}

#gif-hot:hover{
    background-image: url("hot.gif");
    border: 7px solid #EFB0C9;
}

#gif-genius:hover{
    background-image: url("genius.gif");
    border: 7px solid #EFB0C9;
}

#gif-badass:hover{
    background-image: url("badass.gif");
    border: 7px solid #EFB0C9;
}

#gif-cheers {
    height: 200px;
}

#gif-cheers:hover{
    background-image: url("cheers.gif");
    border: 7px solid #EFB0C9;
}

#footer {
    margin-top: 50px;
    text-align: center;

}

p {

    text-shadow: 0px 0px 4px black;

}

a {
    color: white;
}

a:hover {
    color: blue;
}


